.wrap {
  width: 100%;
/*  margin: 0;*/
/*margin:auto;*/
  padding: 100px;
 /* float: left;*/
}
.dino-body {
  width: 120px;
  height: 120px;
  background: #8CBC42;
  border-radius: 100%;
  position: absolute;
  clip: rect(0, 120px, 90px, 0px);
  margin-left: 10px;
  margin-top: -12px;
}
.dino-dot {
  width: 6px;
  height: 6px;
  background: #ADD174;
  position: absolute;
  border-radius: 100%;
  left: 85px;
  top: 35px;
  z-index: 1;
}
.dino-dot:after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ADD174;
  position: relative;
  left: 0;
  top: -15px; 
}
.dino-dot:before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ADD174;
  position: relative;
  left: 9px;
  top: 0; 
}
.dino-head {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0 0;
  background: #8CBC42;
  position: absolute;
  left: 73px;
  top: 140px;
  clip: rect(0, 37px, 20px, 0px);  
}
.dino-eye {
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 100%;
  left: 12px;
  top: 5px;
  z-index: 1;
}
.dino-eye:after {
  display: block;
  content: "";
  width: 6px;
  height: 2px;
  border-radius: 100%;
  background: #000000;
  position: relative;
  left: 4px;
  top: 4px; 
}
.dino-neck {
  width: 42px;
  height: 40px;
  background: #8CBC42;
  border-radius: 0 0 0 100%;
  position: absolute;
  top: 158px;
  left: 81px;
}
.dino-tail {
  width: 35px;
  height: 35px;
  background: #8CBC42;
  border-radius: 0 100% 0 0;
  position: absolute;
  top: 163px;
  left: 215px;
}
.dino-spike {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #C54A21;
  position: absolute;
  clip: rect(0, 20px, 7px, 0px);
  z-index: -1;
}
.dino-spike.frst { 
  left: 22px;
  top: 0px;
  transform: rotate(-45deg);
}
.dino-spike.scd { 
  left: 21px;
  top: -1px;
  transform: rotate(165deg);
}
.dino-leg {
  width: 30px;
  height: 30px;
  background: #8CBC42;
  border-radius: 100%;
  position: absolute;
  transform: rotate(180deg);
  clip: rect(0, 15px, 15px, 0px);
  top: 183px;
}
.wrap:hover .dino-leg {
  animation-play-state: running;
}
@keyframes walkodd {
  50%{transform: translateX(20px) rotate(180deg);}
}
@keyframes walkeven {
  50%{transform: translateX(-20px) rotate(180deg);}
}
.dino-leg:nth-of-type(odd) {
  background: #6B9734;
  animation: walkodd 1s linear infinite;
  animation-play-state: paused;
}
.dino-leg:nth-of-type(even) {
  animation: walkeven 1s linear infinite;
  animation-play-state: paused;  
}
.dino-leg.frst{ left: 115px; }
.dino-leg.scd { left: 130px; }
.dino-leg.thd { left: 165px; }
.dino-leg.frth { left: 180px; }

.dino-scale {
  width: 25px;
  height: 25px;
  background: #E95024;
  border-radius: 0 50% 50% 50%;
  float: left;
}
.dino-scale.frst {
  position: absolute;
  left: 105px;
  top: 120px;  
  transform: rotate(-5deg);
  z-index: -1;
}
.dino-scale.scd {
  transform: rotate(25deg);
  position: absolute;
  left: 129px;
  top: 102px;
  z-index: -1;
}
.dino-scale.thd {
  transform: rotate(45deg);
  position: absolute;
  left: 159px;
  top: 96px;  
  z-index: -1;
}
.dino-scale.frth {
  transform: rotate(75deg);
  position: absolute;
  left: 189px;
  top: 105px;  
  z-index: -1;
}
.dino-scale.fth {
  transform: rotate(115deg);
  position: absolute;
  left: 210px;
  top: 125px;  
  z-index: -1;
}


body{
		background-color: #96beff; /* Blue */
}

.navbar { 
		background-color: #00cc00; /* Green */
    padding:none;
		color: #ffffff;
		border-width: 0px;
    border-radius: 0;
}
.glyphicon-cloud{
  font-family: 'Arial', sans-serif;
}
/*.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
.navbar-toggle{
  display: none;
}*/



.navbar-default .navbar-nav>li>a {
    color:white;
    text-transform: uppercase;
}
.navbar-default:hover .navbar-nav>li>a:hover{
  background-color: red;
  color:white;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
}
.navbar-brand:hover{
  color:white;
}
.nav-coin{
  color:white;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding-top:16px;
  padding-left: 15px;
}

/* menu.html*/
.new-dream{
	position: fixed;
  bottom: 10%;
  width:80%;
  margin-left:10%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
  word-wrap: break-word;
}
.new-dream:hover{
  background-color: #00cc00;
}
.new-todo{
  position: fixed;
  bottom: calc(10% + 70px);
  width:80%;
  margin-left:10%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
  word-wrap: break-word;
}
.new-todo:hover{
  background-color: #00cc00;
}
.btn-lg, .new-dream{
  background-color: #cc0000;
  word-wrap: break-word;
}

/* drawing.html */

.drawing-title{
  font-size: 30px;
  text-align: center;
}


/* todo.html */
label.checkbox{
 /* color:red;*/
  width:80%;
  margin-left: 10%;
  word-wrap: break-word;
  padding:5px;
}

ul{
  list-style-type:none;
}


/* pop up*/
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top:25%;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
